#logo {
    text-align: center;
    height: 150px;
    width: 15%;
    /* background-color: antiquewhite; */
    background-image: url(./img/logo.png);
    background-size: cover;
    margin: -65px 0px 0px 470px;
}

header {
    background-color: rgb(250, 240, 219);
    padding: 30px;
    height: 70px;
}

body {
    margin: 0vh;
}

#anchorDiv {
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: 10% 10% 10%;
}

#anchorDiv1 {
    /* background-color: violet; */
    text-decoration: none;
    margin: -100px 0px 0px 750px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

button {
    height: 30px;
    margin: -10px 0px 0px 0px;
    width: 100%;
}